.ShowDataComp {
  position: relative;
  width: 32px;
  height: 32px;
  font-weight: bold;
  cursor: default;
  margin-bottom: 5px;
  // border: 1px red dotted;
 
  .data {
    display:inline-block;
    position: absolute;
    min-width: 200px;
    max-width:400px;
    top:25px;
    left:-215px;
    padding:10px;
    border-radius:5px;
    background: #ccc;
    border: 1px solid #777;
    color: black;
    z-index: 1;
  }
}
