.DisplaySingleUserComp {
  display: grid;
  grid-template-columns: 92px auto;
  background: #ffffff;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  min-height: 72px;
  .pic img {
    height: 72px;
    width: 72px;
    margin: 5px 15px 10px 5px;
    border-radius: 36px;
  }
  .text {
    position: relative;
    text-align: left;
    font-size: 12px;
    .name {
      margin-bottom: 0;
      font-size: 21px;
    }
    .title {
      font-size: inherit;
      font-style: italic;
    }
    .department {
      font-size: inherit;
    }
    div {
      margin-bottom: 6px;
    }
    .closeButton {
      position: absolute;
      color: black;
      top: 5px;
      right: 7px;
      cursor: pointer;
      :hover {
        border: 1px solid #0078d7;
        background: #ccc;
      }
    }
  }
  .icon {
    position: relative;
    bottom: -1px;
  }
  .emailIcon {
    position: relative;
    bottom: -2px;
  }
}

.DisplaySingleUserComp .email {
  width: 280px;
  font-size: 12px;
  margin: 0px auto;
  color: red;
  a {
    text-decoration: none;
    color: black;
    :hover {
      text-decoration: underline;
    }
  }
}
