.DisplayUserComp {
    padding: 5px;
    width: 150px;
    display:grid;
    grid-template-columns:120px 30px;
    padding-left:10px;
}

.DisplayUserComp img {
    width: 100px;
    height: auto;
    border-radius: 50px;
    border:3px solid #444;
    box-shadow: 0px 4px 6px #666;
    transition: all ease 0.5s;
}
/* 
.DisplayUserComp img:hover{
    box-shadow:0px 4px 6px #111;
} */


.DisplayUserComp .name {
    font-size: 20px;
}

.DisplayUserComp .fontAwesomePhoto {
    font-size:80px;
}