.SearchComp {
  text-align:left;
  margin-left:100px;
  margin-bottom: 20px;
  font-size:20px;
  // ::-webkit-input-placeholder {
  //   font-size: 34px;
  //   font-style:italic;
  //  }
  input {
    font-size:20px;
    margin-top:20px;
  }
}
